.imageContainer {
  width: var(--width);
  height: var(--height);

  object-fit: cover;
}

.imageContainer.--details {
  box-shadow: var(--shadow--medium);
  border-radius: var(--border__radius--regular);
}
