---
import Layout from '../layouts/Layout.astro';

import Card from '../components/Card.astro';
import { Image } from '../components/Image/Image';
---

<Layout title="Welcome to Astro.">
	<main>	
		<Image 
			alt="Teste"
			src="https://images.unsplash.com/photo-1682685797795-5640f369a70a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
		/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}	
</style>
