.cardComImagem {
  background-color: rgb(255, 254, 252);
  width: 400px;
  height: 450px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardImagem {
  width: 100%;
}

.cardTitulo {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  margin-left: 10%;
  font-family: sans-serif;
  font-size: 24px;
}

.cardDescricao {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: sans-serif;
  font-size: 17px;
}
